nav {
    margin-bottom: 5rem;
}

.video-container {
    margin: auto;
    position: relative;
    border: solid 1px black;
    border-radius: 5px;
    background-color: black;
    color: white;
    height: 600px;
    width: 800px;
}

.vidoe-label {
    z-index: 3;
}

.remote-box {
    z-index: 1;
}

#remoteVideo {
    height: 600px;
    width: 800px;
    z-index: 0;
}

.remLabel {
    position: absolute;
    top: 0;
    left: 10px;
}

.local-box {
    z-index: 3;
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 10px;
}

#localVideo {
    width: 30%;
    z-index: 2;
    border-radius: 5px;
    box-shadow: 3px 3px 3px black;
}

